# Generated source
lang_val.*
lang_enum.h
intl_language.*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.suo

# Compiler gunk
build/
*.sdf
*.opensdf
*.opendb
**/ipch/*
**/Debug/*
**/Release/*
*.VC.db

# IDE gunk
**/.idea/*
*.user
**/.vs/*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
*.aps
*.zip
*.exe
