
#include "res_version.h"
#include "winres.h"

VS_VERSION_INFO VERSIONINFO
	FILEVERSION		RC_FILE_VERSION
	PRODUCTVERSION	RC_FILE_VERSION
	FILEFLAGSMASK	0x17L
	#ifdef _DEBUG
		FILEFLAGS	VS_FF_DEBUG
	#endif
	FILEOS			VOS_NT_WINDOWS32
	FILETYPE		VFT_APP
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "041d04b0"
			BEGIN
				VALUE "FileDescription", "Pictus"
				VALUE "FileVersion", STR_RC_FILE_VERSION
				VALUE "CompanyName", "poppeman.se"
				VALUE "InternalName", "Pictus"
				VALUE "LegalCopyright", "Copyright Pontus Mårdnäs."
				VALUE "OriginalFilename", "Pictus.exe"
				VALUE "ProductName", "Pictus"
				VALUE "ProductVersion", STR_RC_FILE_VERSION
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x41d, 1200
		END
	END
